<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cat.oreilly.localstt">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!--
    https://stackoverflow.com/questions/64672910/speechrecognizer-isrecognitionavailable-always-false-in-android-11
    -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="standard"
        android:theme="@style/AppTheme">

        <!-- todo: make work - see K6nele
        <activity
            android:name="dk.nordfalk.esperanto.parolrekono.SpeechActivity"
            android:theme="@style/Theme.LocalSTT.Translucent">
        </activity>
        -->
        <activity
            android:name="dk.nordfalk.esperanto.parolrekono.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".VoskRecognitionService"
            android:process=":speechProcess"
            android:icon="@drawable/ic_esperanta_parolrekono"
            android:label="@string/recognition_service_label"
            android:description="@string/recognition_service_description"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>

                <!-- The constant value is defined at RecognitionService.SERVICE_INTERFACE. -->
                <action android:name="android.speech.RecognitionService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service" />
        </service>
    </application>
</manifest>
